*{
	margin: 0;
	padding: 0;
	outline: none;
}

body{
	width: 100%;
	background: #fff;
	font-size: 13px;
	font-family: Arial, sans-serif;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}

.clr:after{
 display: table;  
 content: " ";
 clear: both;  
}

.top-menu{
	 width: 100%;
	 height: 35px;
	 background: #2f415a;
	 color: white;

}
.wrapper{
	max-width: 1201px;
	margin: 0 auto;
}
.menu-1, .f-left, input[name="topsearch"]{
	float: left;
}
.menu-1 ul li{
	display: inline;
	margin-right: 32px;
	line-height: 35px;
}
.menu-1 ul li a{
	color:white;
}
.block-right, .f-right{
	float: right;
}

.block-right ul li{
	float: left;
	display: block;
	line-height: 35px;
	padding: 0 42px;
	height: 35px;
}
.block-right ul li.personal{
	background: #d8192b url("../images/personal.png") no-repeat 35px 8px;
	position: relative;
	width: 201px;
	padding-left: 69px;
	box-sizing:border-box;
}
.block-right ul li.favorite{
	background: #2f415a url("../images/favorite.png") no-repeat 15px 10px;
	position: relative;
}
.basis-header{
	min-height: 94px; 
}
.logo{
	position: relative;
}
.basis-header .logo span{
	line-height: 94px;
	font-size: 31px;
	color:#d8192b;
	font-family: 'AG_Futura Bold', arial;
}
 .basis-header .logo span:last-child{
 	padding-left: 69px;
 }
 .basis-header .logo img{
 	position: absolute;
 	left: 148px;
 	top:21px;
}
input[name="topsearch"]{
	height: 34px;
	width: 28.89%;
	padding-left: 30px;
	color:#264f85;
	border:2px solid #264f85;
	border-radius: 5px;
	box-sizing:border-box;
 	-webkit-border-radius: 5px;
 	-moz-border-radius: 5px;
 	-o-border-radius: 5px;
 	margin-top: 30px;
 	margin-left: 4.74%;
 	margin-right: 4.99%;
 	background: url("../images/search.png") no-repeat 11px 9px;
}
input[name="topsearch"]::-webkit-input-placeholder{  
   color:#264f85;
}
input[name="topsearch"]::-moz-placeholder{  
   color:#264f85;
}
input[name="topsearch"]::-ms-input-placeholder{  
    color:#264f85;
}
.basis-header .phone{
	background: url("../images/phone.png") no-repeat 0 3px;
	margin-top: 28px;
	padding-left: 30px;
	width: 15.8%;
	box-sizing:border-box;
 }
 .phone p:first-child{
 	font-size: 19px;
 	color: #000;
 }
 .phone p:last-child a{
 	color: #264f85;
 }
.basket{
	background: url("../images/basket.png") no-repeat;
	margin-top: 28px;
	padding-left: 45px; 
 }
.basket p:first-child{
	font-size: 16px;
}
.basket p:last-child{
	color: #808080;
}
.bottom-menu{
	height: 52px;
	border-top:1px solid #d5d5d5;
	line-height: 52px;
}
.bottom-menu ul li{
	display: inline;
	margin-right: 32px;
}
.bottom-menu ul li a{
	color: #000;
	font-size: 14px;
	font-weight: bold;
}
.bottom-menu ul li.circle{
	display: inline-block;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
 	-moz-border-radius: 50%;
 	-o-border-radius: 50%;
 	border:2px solid #000;
 	margin-right: 0;
}
 .banner{
 	height: 574px;
 	background: #000;
 }
 
.tabs{
	min-height: 296px;	 
}
.actions{
	position: relative;
	top: -42px; 
	max-height: 210px;
	width: 100%;
 }
 .action{
 	float: left;
 	width: 32%;
 	height: 210px;
 	margin-right: 22px;
}
@font-face{
font-family: proximanovalight;
src:url("fonts/proximanovalight.ttf");
}
.action-1{
	background: url("../images/action-1.png") no-repeat;
}
.action-2{
	background: url("../images/action-2.png") no-repeat;
}
.action-3{
	background: url("../images/action-3.png") no-repeat;
}
.action:last-child{
	margin-right: 0;
}
.action p.name{
	font-family: proximanovalight;
	font-size: 30px;
	color:#f33345;
	text-transform: uppercase;
	margin-left: 180px;
	margin-top: 55px;
}
.action p.notice{
	font-family: proximanovalight, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color:#fff;
	margin-left: 180px;
	margin-top: 14px;
	margin-right: 47px;
}
.action-1 p.name{
	color: #fff;
}
.tabs ul{
	text-align: center;
}
.tabs ul li{
	display: inline-block;
	border:2px solid #aab1b8;
	border-radius: 20px;
	margin-right: 10px;
	padding: 12px 16px;
}
.tabs ul li a{
	display: block;
	font-size: 12px;
	font-weight: bold;
	color: #aab1b8;
	text-transform: uppercase;
	letter-spacing:2px;
}
.tabs ul li.active {
	background: #d8192b;
	border:2px solid #d8192b;
	position: relative;
}
.tabs ul li.active a{
	color: #fff;
}
.tabs ul li.active::after{
	content: '';
	position: absolute;
	left: 75px;
	bottom: -20px;
	border: 10px solid transparent;  
    border-top: 10px solid #d8192b; 
}
table{
	border-collapse: collapse;
	border: 1px solid #d5d5d5;

}
td{
	width: 239px;
	height: 289px;
	border: 1px solid #d5d5d5;
	text-align: center;
	padding-bottom: 25px;
	box-sizing:border-box;
	vertical-align: bottom;
}
td p.text{
	color: #262626;
	font-size: 14px;
}
td p.price{
	color: #264f85;
	font-size: 19px;
}
td p.price span:last-child{
	color: #999;
	font-size: 14px;
	text-decoration: line-through;
}
.goods-1 p.text, .goods-4 p.text, .goods-5 p.text,
.goods-8 p.text,.goods-10 p.text,.goods-11 p.text,
.goods-13 p.text,.goods-14 p.text, .goods-15 p.text{
	margin-bottom: 16px;
	margin-top: 20px;
}
.goods-2 p.text, .goods-3 p.text, .goods-6 p.text, .goods-9 p.text,
.goods-12 p.text, .goods-7 p.text{
	margin-bottom: 22px;
	margin-top: 32px;
}
.arrows{
	height: 147px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 64px;
	position: relative;
	box-sizing:border-box;
}
 
.arrows p{
	font-size: 12px;
	font-weight: bold;
	color: #888888;
	text-transform: uppercase;
	letter-spacing:2px;
	margin-top: 13px;
}
.news{
	width: 100%;
	height: 523px;
	background: #2f415a;
	padding-top: 47px;
}
h1{
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
    letter-spacing:1px;
}
.blocks{
	margin-top: 25px;
}
.block{
	float:left;
	background: #fff;
	width: 283px;
	height: 350px;
	margin-right: 23px;
	vertical-align: top;
}
.news-4{
	margin-right: 0px;
}
.news-date{
	width: 64px;
	color: #fff;
	background: #b2b2b2;
	font-size: 12px;
	font-weight: bold;
	border-radius: 3px;
	padding: 3px;
	margin-top: 20px;
	margin-left: 24px;
}
.news-text{
	font-size: 18px;
	color: #262626;
	margin-left: 24px;
	margin-top: 11px;
}
.advantages{
	height: 418px;
	padding-top: 62px;
	border-bottom: 1px solid #d5d5d5;
}
.advantages h1{
	color: #000;
	margin-bottom: 45px;
}
.adv{
	display: inline-block;
	height: 200px;
	width: 270px;
	vertical-align: top;
	margin-right: 30px;
}
.adv-4{
	margin-right: 0;

}
.adv img{
	margin-left: 60px;
}
.adv-2 img{
	margin-left: 85px;
}
.adv-3 img{
	margin-left: 80px;
}
.adv-4 img{
	margin-left: 90px;
}
.adv p{
	font-size: 18px;
	color: #262626;
	margin-top: 29px;
	text-align: center;
}
.adv-1 p{
	margin-top: 49px;
}
.adv-2 p{
	margin-top: 39px;
}
.top-footer{
	padding-top: 33px;
	height: 89px;
}
.social{
	width: 200px;
	float: left;
}
h2{
	font-size: 15px;
	color: #262626;
	margin-bottom:5px;
}
.social i{
	display: inline-block;
	width: 34px;
	height: 34px;
	background: url("../images/social-sprite.png");
}
.newsletter{
	float: left;
	width: 360px;
	margin-left: 220px;
}
input[name="e-mail"]{
	width: 249px;
	height: 35px;
	padding-left: 10px;
	line-height: 35px;
	border: 2px solid #a1a8af;
	border-radius: 5px;
    font-weight: bold;
    box-sizing:border-box;
    font-size: 13px;
}
input[type="submit"]{
	width: 95px;
	height: 35px;
	line-height: 35px;
	background: #d8192b;
	color: #fff;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	border-radius: 5px;
	border:none;
	margin-left: 5px;
	box-sizing:border-box;
}
.pay{
	float: left;
	margin-left: 120px;
	 
}
.pay i{
	display: inline-block;
	width: 65px;
	height: 28px;
	background: url("../images/pay-sprite.png");
}
.pay i:last-child{
	margin-left: 10px;
}
.middle-footer{
	padding: 36px 0 39px;
	min-height: 298px;
	background: #eeeff1;
}
.b-1 .logo img{
	position: absolute;
 	left:103px;
 	top:-3px;
 }
 .b-1 .logo span:last-child{
 	padding-left: 40px;
 }

.b-1 .logo span{
	font-size: 23px;
	color:#d8192b;
	font-family: 'AG_Futura Bold', arial;
}
.b-1 .phone{
	margin-top: 37px;
}
.b-1 .phone p:first-child{
	font-size: 19px;
}
.b-1 .mail a{
	color: #3d5e8e;
	font-size: 16px;
}
.b-1 .mail{
	margin-top: 30px;
}
.b-2, .b-3, .b-4, .b-5{
	margin-top: 3px;
	margin-left: 90px;
} 
.b-3{
	margin-left: 105px;
}
.b-4{
	margin-left: 158px;
}
.b-5{
	margin-left: 140px;
}
.middle-footer ul li a{
	color: #666666;
}
.middle-footer ul li{
	margin-top: 15px;
}
.bottom-footer{
	height: 63px;
	color: #666666;
	line-height: 63px;
}
.bottom-footer a{
	color: #264f85;
	font-weight: bold;
}